# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crashlytics
crashlytics-build.properties

# Temp/test files
deleteMe/

# DOTween generated
Assets/Plugins/Demigiant/DOTween/Resources/DOTweenSettings.asset.meta
